html {
    background:#EFDC44;
}


h1 { color: rgb(177, 56, 56);
    font-size: 3em;
font-family: gteestipro;}


.shuffle {
    display: flex;
align-items: center;
justify-content: center;
position: relative;
top: -600px;
z-index: 1;
}
svg { width: 100px;
}